@font-face {
				font-family: 'Poppins';
				src: url('/fonts/Poppins-Regular.ttf') format('truetype');
			}
			* {margin: 0;padding: 0;box-sizing: border-box;font-family:Poppins;transition: all 0.5s ease;}
			main {display: flex;flex-direction:column;height:100vh;}
			
			h1 a {color: #ff6600;text-decoration:none;}
			h1 {background-color: white;font-size:25pt;padding:5px;text-align: center;}
			
			p {font-size:20pt;text-align: center;margin-bottom: 25px;}
			
			
			header, footer {border: 2px solid #ececec;}
			
			article {padding:20px;flex-grow: 1;background-color: #fff7f0;}
			footer p {margin-bottom: 0;font-size: 16pt;}
			
			@media screen and (max-width: 380px) {
				footer p {font-size: 12pt;}
			}
			
			@media screen and (max-width: 300px) {
				h1 {font-size: 17pt;}
			}
			
			